.product-card {
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 1000;
  width: 1000;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-color: rgb(28, 28, 179);
  }

  .product-image {
    width: 278;
    height: 200px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    img {
      max-width: 278;
      max-height: 228;
      object-fit: contain;
    }
  }

  .product-info {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .product-name {
      font-size: 1.4rem;
      font-weight: 600;
      color: #2A2A2A;
      margin-bottom: 12px;
      line-height: 1.4;
      height: 40px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .product-price {
      margin-bottom: 16px;

      .original-price {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: black;
        margin-bottom: 4px;
      }

      .installments {
        font-size: 1.2rem;
        color: #7A7A7A;
      }
    }

    .details-button {
      background-color: blue;
      color: #FFFFFF;
      border: none;
      border-radius: 4px;
      padding: 12px;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-top: auto;

      &:hover {
        background-color: rgb(28, 28, 179);
      }
    }
  }
}